@font-face {
  font-family: sans-serif;
  src: url(../../fonts/open-sans/OpenSans-Regular.ttf);
}
@font-face {
  font-family: sans-serif;
  src: url(../../fonts/open-sans/OpenSans-Medium.ttf);
}
@font-face {
  font-family: sans-serif;
  src: url(../../fonts/open-sans/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: sans-serif;
  src: url(../../fonts/open-sans/OpenSans-Bold.ttf);
}
@font-face {
  font-family: sans-serif;
  src: url(../../fonts/cera-round-pro/Fontspring-DEMO-ceraroundpro-regular.otf);
}
@font-face {
  font-family: sans-serif;
  src: url(../../fonts/cera-round-pro/Fontspring-DEMO-ceraroundpro-medium.otf);
}
@font-face {
  font-family: sans-serif;
  src: url(../../fonts/cera-round-pro/Fontspring-DEMO-ceraroundpro-bold.otf);
}
@font-face {
  font-family: sans-serif;
  src: url(../../fonts/inter/Inter-Regular.ttf);
}
@font-face {
  font-family: sans-serif;
  src: url(../../fonts/inter/Inter-Medium.ttf);
}
@font-face {
  font-family: sans-serif;
  src: url(../../fonts/inter/Inter-SemiBold.ttf);
}
@font-face {
  font-family: sans-serif;
  src: url(../../fonts/inter/Inter-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  border: none;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
}

.container-manual {
  max-width: 1340px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.item {
  padding: 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 14px;
}

.carousel-1 {
  position: relative;
}

.carousel-1 .owl-dots .owl-dot span {
  width: 30px;
  transition: all 0.2s ease;
}

.carousel-1 .owl-dots .owl-dot.active span {
  width: 50px;
  background: red;
}

.carousel-1 .owl-dots .owl-dot:hover span {
  background: red;
}

.carousel-1 .owl-nav button.owl-next,
.carousel-1 .owl-nav button.owl-prev {
  top: -80px;
  position: absolute;
  width: 40px;
  height: 40px;
  border: 1px solid #242424;
  background-color: #fff;
}
.carousel-1 .owl-nav button.owl-next:hover,
.carousel-1 .owl-nav button.owl-prev:hover {
  background-color: #BB2339;
  border: 1px solid #BB2339;
}

.carousel-1 .owl-nav button.owl-prev {
  right: 60px;
}

.carousel-1 .owl-nav button.owl-next {
  right: 0px;
}

.dish__header__title {
  color: #BB2339;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: "Cera Round Pro";
  font-size: 48px;
  font-weight: 500;
  letter-spacing: 1.44px;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.dish__name {
  color: #242424;
  text-align: center;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
}
.dish__rating {
  height: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.dish__price {
  color: #BB2339;
  text-align: center;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
}

@media (max-width: 500px) {
  .dish__header__title {
    margin-bottom: 90px;
  }
  .carousel-1 .owl-nav button.owl-prev {
    left: 0px;
  }
  .carousel-1 .owl-nav button.owl-next {
    left: 60px;
  }
}
.navbar {
  background-color: #BB2339 !important;
}
.navbar .container-lg .navbar-nav {
  display: flex;
  gap: 30px;
}
.navbar .container-lg .navbar-nav .nav-link {
  color: #fff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.64px;
  transition: all 0.5s ease-in-out;
}
.navbar .container-lg .navbar-nav .nav-link:hover {
  text-decoration: underline;
}
.navbar .container-lg .navbar-toggler {
  background-color: #fff;
}
.navbar .container-lg .nav__btn {
  color: #fff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 175%;
  letter-spacing: 0.8px;
  text-transform: capitalize;
  padding: 10px 40px;
  border-radius: 100px;
  border: 1px solid #fff;
  color: #fff;
  margin-top: 26px;
  margin-bottom: 26px;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
}
@media (max-width: 992px) {
  .navbar .container-lg .nav__btn {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
.navbar .container-lg .nav__btn:hover {
  background-color: #fff;
  color: #BB2339;
}

main {
  margin-top: 117.8px;
}
@media (max-width: 992px) {
  main {
    margin-top: 63px;
  }
}