@use "../utils/variables" as var;

footer {
  padding-bottom: 40px;
  background-color: var.$primary-color;
  padding-bottom: 40px;
}

.footer__container {
  position: relative;
  left: 0;
  right: 0;
}

.footer__top {
  position: absolute;
  top: -30%;
  left: 0;
  right: 0;
  padding: 64px 252px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: var.$primary-color;
  box-shadow: 22px 30px 95px 1px rgba(86, 86, 86, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  @media (max-width: 992px) {
    padding: 64px 200px !important;
    margin-right: 20px;
    margin-left: 20px;
  }

  @media (max-width: 892px) {
    padding: 64px 150px !important;
  }

  @media (max-width: 792px) {
    padding: 64px 100px !important;
  }

  @media (max-width: 756px) {
    padding: 64px 50px !important;
    gap: 34px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    .footer__subtitle {
      margin: 0;
      color: #fff;
      font-variant-numeric: lining-nums tabular-nums;
      font-family: "Cera Round Pro";
      font-size: 23px;
      font-weight: 700;
      line-height: 130%;
      letter-spacing: 0.92px;
      text-transform: capitalize;
    }

    .footer__title {
      margin: 0;
      color: #fff;
      text-align: center;
      font-variant-numeric: lining-nums tabular-nums;
      font-family: "Cera Round Pro";
      font-size: 48px;
      font-weight: 500;
      line-height: 130%;
      letter-spacing: 1.44px;
      text-transform: capitalize;
      @media (max-width: 508px) {
        font-size: 30px;
      }
    }

    .footer__reminder {
      color: #fff;
      text-align: center;
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 400;
      line-height: 175%;
      letter-spacing: 0.64px;
    }
  }
}

.footer__input {
  display: flex;
  gap: 32px;
  width: 100%;
  justify-content: space-between;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
  .subscribe__input {
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    border: 1px solid rgba(245, 239, 219, 0.5);
    border-radius: 100px;
    color: var.$gray;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: "Cera Round Pro";
    font-size: 16px;
    font-weight: 500;
    line-height: 175%;
    letter-spacing: 0.64px;
    text-transform: capitalize;
    padding-left: 19px;
  }

  .footer__btn {
    padding: 12px 32px;
    color: #fff;
    font-family: "Cera Round Pro";
    font-size: 16px;
    font-weight: 700;
    line-height: 175%;
    letter-spacing: 0.64px;
    border-radius: 100px;
    border: 1px solid #fff;
    background-color: transparent;
    transition: 0.5s ease-in-out;
    &:hover {
      background-color: #fff;
      color: var.$primary-color;
      box-shadow: 0px 0px 10px #b0b0b0;
    }
  }
}

.footer__bottom {
  padding-top: 325px;
  @media (max-width: 468px) {
    padding-top: 275px;
  }
}

.footer__contact {
  
  &__title {
    color: #fff;
    font-variant-numeric: lining-nums tabular-nums;
    font-family: "Cera Round Pro";
    font-size: 32px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 1.28px;
    text-transform: capitalize;
  }

  .footer__contact__desc {
    color: #fff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.64px;
    margin-top: 24px;
    margin-bottom: 10px;
  }

  .footer__desc__2 {
    margin-top: 32px;
    margin-bottom: 45px;
  }

  .footer__contact__logos {
    display: flex;
    gap: 16px;
    justify-content: center;
  }
}

.footer__copyright {
  &__info {
    margin-top: 80px;
    color: #fff;
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 175%;
    letter-spacing: 0.64px;
  }
}

@media (max-width: 400px) {
  .footer__top {
    padding: 50px 40px;
  }
  .footer__title {
    font-size: 25px;
  }

  .footer__contact {
    img {
      width: 100%;
    }
  }
}