
// Opens Sans Font Style

@font-face {
  font-family: sans-serif;
  src: url(../../fonts/open-sans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: sans-serif;
  src: url(../../fonts/open-sans/OpenSans-Medium.ttf);
}

@font-face {
  font-family: sans-serif;
  src: url(../../fonts/open-sans/OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: sans-serif;
  src: url(../../fonts/open-sans/OpenSans-Bold.ttf);
}

// Cera Round Pro Font Style

@font-face {
  font-family: sans-serif;
  src: url(../../fonts/cera-round-pro/Fontspring-DEMO-ceraroundpro-regular.otf);
}

@font-face {
  font-family: sans-serif;
  src: url(../../fonts/cera-round-pro/Fontspring-DEMO-ceraroundpro-medium.otf);
}

@font-face {
  font-family: sans-serif;
  src: url(../../fonts/cera-round-pro/Fontspring-DEMO-ceraroundpro-bold.otf);
}

// Inter Font Style //

@font-face {
  font-family: sans-serif;
  src: url(../../fonts/inter/Inter-Regular.ttf);
}

@font-face {
  font-family: sans-serif;
  src: url(../../fonts/inter/Inter-Medium.ttf);
}

@font-face {
  font-family: sans-serif;
  src: url(../../fonts/inter/Inter-SemiBold.ttf);
}

@font-face {
  font-family: sans-serif;
  src: url(../../fonts/inter/Inter-Bold.ttf);
}

